@import '~react-quill/dist/quill.snow.css';

.quill .ql-toolbar.ql-snow {
    padding: 0px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background: white;
    border-color: rgba(203, 213, 224, 1);
}

.quill .ql-toolbar.ql-snow button {
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.quill .ql-toolbar.ql-snow button svg path,
.quill .ql-toolbar.ql-snow button svg line,
.quill .ql-toolbar.ql-snow button:hover svg path,
.quill .ql-toolbar.ql-snow button:hover svg line {
    stroke: #16113b;
}

.quill .ql-toolbar.ql-snow button.ql-active svg path,
.quill .ql-toolbar.ql-snow button.ql-active svg line {
    stroke: #00804d;
}

.quill .ql-toolbar.ql-snow,
.quill .ql-toolbar.ql-snow .ql-formats {
    display: flex;
}

.quill .ql-toolbar.ql-snow {
    padding: 0 5px;
}

.quill .ql-toolbar.ql-snow .ql-formats {
    margin: 0;
    border-right: 1px solid rgba(203, 213, 224, 1);
}

.quill .ql-container {
    padding-bottom: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    background: white;
    border-color: rgba(203, 213, 224, 1);
    font-family: 'Karbon Regular', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.quill .editor.ql-container.ql-snow .ql-editor {
    color: #4a5568;
    line-height: 1.25;
    font-size: 1rem;
}

.quill .editor.ql-container.ql-snow .ql-editor h2 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-bottom: 5px;
}
