@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Karbon Regular';
    src: url('../assets/Karbon-Regular.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Karbon Medium';
    src: url('../assets/Karbon-Medium.woff2') format('woff2');
    font-weight: bold;
    font-display: swap;
}

html {
    height: 100%;
    overflow: auto;
    font-size: 20px;
    line-height: 1.5em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Karbon Regular', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-bold {
    font-family: 'Karbon Medium', sans-serif;
    font-weight: 700;
}

.bold {
    font-weight: 700;
}

.pzh-button {
    @apply inline-block transition duration-200 ease-in rounded focus:outline-none focus:ring font-bold leading-none disabled:bg-pzh-gray disabled:text-pzh-blue-dark disabled:text-opacity-35 disabled:cursor-not-allowed;
}

.pzh-form-input {
    @apply block w-full placeholder-pzh-blue-dark placeholder-opacity-55 text-pzh-blue-dark border border-pzh-blue-dark border-opacity-35 rounded appearance-none leading-none focus:outline-none hover:border-gray-500 focus:border-gray-500 disabled:bg-pzh-gray disabled:text-opacity-55;
}
